<ul>
  {{#each list}}
  <a class="no-decoration" href="./detail.html" target="_blank">
    <li class="list">
      <div class="img-wrap">
        <img src="https://image.xiaozhustatic1.com/00,800,533/11,0,2,11159,1800,1200,65457215.jpg" alt="" class="img">
      </div>
      <div class="con-wrap">
        <h3 class="title">艾溪湖一号 2室一厅 200万</h3>
        <p class="location">
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-weizhi"></use></svg>
          <span class="desc">高新开发区 艾溪湖正中央</span>
        </p>
        <div class="house-info">
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-fangzi01-copy"></use></svg>
          <span class="desc">整租</span>|
          <span class="desc">两房</span>|
          <span class="desc">面积：70㎡</span>|
          <span class="desc">朝东</span>|
          <span class="desc">精装修</span>
        </div>
        <div class="tag-wrap">
          <span class="tag tag-1">地铁口</span>
          <span class="tag tag-2">随时看房</span>
        </div>
        <div class="user">
          <span class="desc">黎先生</span>
          <span class="desc">艾溪湖一号</span>
          <span class="desc">2018-6-1 16:06</span>
        </div>
      </div>
      <div class="price-wrap">
          <p class="price">200万</p>
          <p class="area">12000元/㎡</p>
      </div>
    </li>
  </a>
  {{/each}}
</ul>