@import "../../../common/scss/mixin.scss";

body {
  background-color: #f2f2f2;
}
.main {
  margin-top: 60px;
  border-top: 16px solid $color-primary;
  border-radius: 4px;
  padding: 60px 250px;
  background-color: #fff;
}
.pd-l {
  padding-left: 30px;
}
.custom-control-label {
  cursor: pointer;
}
.form-group {
  margin-top: 30px;
}
.submit {
  margin-top: 60px;
  text-align: center;
  .btn {
    width: 263px;
  }
}
.custom-checkbox {
  margin-left: 15px;
  margin-right: 5px;
  user-select: none;
}