
{{!-- 猜你喜欢 --}}
{{#each list}}
  <div class="col-lg-3">
    <a class="no-decoration" target="_blank" href="#">
      <div class="list">
        <img class="img" src="https://image.xiaozhustatic1.com/00,800,533/11,0,2,11159,1800,1200,65457215.jpg" alt="">
        <p class="title text-truncate">这是标题</p>
        <div class="text">
          <span class="price">240万</span>
          <span>5室2厅300㎡</span>
        </div>
      </div>
    </a>
  </div>
{{/each}}