{{#each list}}
  <a class="windy" href="#">
    <li class="list">
      <div>
        <h5 class="w-title">标题标题标题标题标题标题</h5>
        <div class="rainy">
          <span class="cloudy">200万</span>
          <span class="cloudy">3室2厅</span>
          <span class="cloudy">120㎡</span>
        </div>
      </div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">上架</button>
        <button type="button" class="btn btn-secondary">下架</button>
        <button type="button" class="btn btn-warning">编辑</button>
      </div>
    </li>
  </a>
{{/each}}