<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <%= require('html-loader!components/header-meta/index.html') %>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
</head>
<body>
  <!-- 头部导航 -->
  <%= require('html-loader!components/header-nav/index.html') %>
  
  <section class="container main" id="main">
    <input type="password" class="input-puppet" />
    <form>
      <section class="form-group row">
        <label class="col-sm-2 col-form-label">类型</label>
        <div class="col-sm-10 row pd-l">
          <div class="custom-control custom-radio col-sm-3">
            <input type="radio" id="Trade1" name="Trade" value="出售" class="custom-control-input" checked>
            <label class="custom-control-label" for="Trade1">二手房出售</label>
          </div>
          <div class="custom-control custom-radio col-sm-3">
            <input type="radio" id="Trade2" name="Trade" value="出租" class="custom-control-input">
            <label class="custom-control-label" for="Trade2">房屋出租</label>
          </div>
        </div>
      </section>
      <section class="form-group row">
        <label for="PropertyTitle" class="col-sm-2 col-form-label">房源标题</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="PropertyTitle" placeholder="请输入标题" autocomplete="off" required>
        </div>
      </section>
      <section class="form-group row">
        <label for="DistrictID" class="col-sm-2 col-form-label">区域</label>
        <div class="col-sm-10">
          <select class="custom-select" id="DistrictID">
            <option selected>请选择区域</option>
          </select>
        </div>
      </section>
      <section class="form-group row">
        <label for="villageName" class="col-sm-2 col-form-label">地址</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="villageName" placeholder="请输入地址" autocomplete="off" required>
        </div>
      </section>
      <!-- 租房类型 | 出租里才有 -->
      <section class="form-group row js_lease hide">
        <label class="col-sm-2 col-form-label">租房类型</label>
        <div class="col-sm-10 row pd-l">
          <div class="custom-control custom-radio col-sm-3">
            <input type="radio" id="typeHouse1" name="typeHouse" value="整套出租" class="custom-control-input" checked>
            <label class="custom-control-label" for="typeHouse1">整套出租</label>
          </div>
          <div class="custom-control custom-radio col-sm-3">
            <input type="radio" id="typeHouse2" name="typeHouse" value="单间出租" class="custom-control-input">
            <label class="custom-control-label" for="typeHouse2">单间出租</label>
          </div>
        </div>
      </section>
      <section class="form-group row">
        <label class="col-sm-2 col-form-label">建筑结构</label>
        <div class="col-sm-10 row">
          <div class="col-sm-4">
            <select class="custom-select" id="CountF">
              <option selected>请选择几室</option>
              <option value="1">1室</option>
              <option value="2">2室</option>
              <option value="3">3室</option>
              <option value="4">4室</option>
              <option value="5">5室</option>
              <option value="6">6室</option>
              <option value="7">7室</option>
            </select>
          </div>
          <div class="col-sm-4">
            <select class="custom-select" id="CountT">
              <option selected>请选择几厅</option>
              <option value="1">1厅</option>
              <option value="2">2厅</option>
              <option value="3">3厅</option>
              <option value="4">4厅</option>
            </select>
          </div>
          <div class="col-sm-4">
            <select class="custom-select" id="CountW">
              <option selected>请选择几卫</option>
              <option value="1">1卫</option>
              <option value="2">2卫</option>
              <option value="3">3卫</option>
              <option value="4">4卫</option>
            </select>
          </div>
        </div>
      </section>
      <section class="form-group row">
        <label class="col-sm-2 col-form-label">面积</label>
        <div class="col-sm-10 row">
          <div class="col-sm-4">
            <input type="text" id="Square" class="form-control" placeholder="请输入面积（㎡）">
          </div>
        </div>
      </section>
      <!-- 价格 | 出售里才有 -->
      <section class="form-group row js_deal">
        <label class="col-sm-2 col-form-label">价格</label>
        <div class="col-sm-10 row">
          <div class="col-sm-4">
            <input type="text" id="Price" class="form-control" placeholder="输入总价（万）">
          </div>
          <div class="col-sm-4">
            <input type="text" id="PriceUnit" class="form-control" placeholder="输入单价（元/㎡）">
          </div>
        </div>
      </section>
      <!-- 租金 | 出租里才有 -->
      <section class="form-group row js_lease hide">
        <label class="col-sm-2 col-form-label">租金</label>
        <div class="col-sm-10 row">
          <div class="col-sm-3">
            <input type="text" id="RentPrice" class="form-control" placeholder="请输入租价（元/月）">
          </div>
          <div class="col-sm-3">
            <input type="text" id="MtgPrice" class="form-control" placeholder="请输入物业费（元/月）">
          </div>
          <div class="col-sm-3">
            <input type="text" id="TransferPrice" class="form-control" placeholder="请输入转让费（元/月）">
          </div>
          <!-- <div class="col-sm-3">
            <input type="text" id="RentPriceUnit" class="form-control" placeholder="请输入租单价">
          </div> -->
        </div>
      </section>
      <section class="form-group row">
        <label class="col-sm-2 col-form-label">楼层</label>
        <div class="col-sm-10 row">
          <div class="col-sm-4">
            <select class="custom-select" id="Floor">
              <option selected>请选择所在楼层</option>
              <option value="底层">底层</option>
              <option value="中层">中层</option>
              <option value="高层">高层</option>
            </select>
          </div>
          <div class="col-sm-4">
            <input type="text" id="FloorAll" class="form-control" placeholder="请输入总楼层">
          </div>
        </div>
      </section>
      <section class="form-group row">
        <label class="col-sm-2 col-form-label">类型</label>
        <div class="col-sm-10 row">
          <div class="col-sm-4">
            <select class="custom-select" id="PropertyUsage">
              <option selected>请选择类型</option>
            </select>
          </div>
        </div>
      </section>
      <section class="form-group row">
        <label class="col-sm-2 col-form-label">装修</label>
        <div class="col-sm-3">
          <select class="custom-select" id="Decoration">
            <option selected>请选择装修</option>
            <option value="1">One</option>
          </select>
        </div>
      </section>
      <section class="form-group row">
        <label class="col-sm-2 col-form-label">朝向</label>
        <div class="col-sm-3">
          <select class="custom-select" id="Orientation">
            <option selected>请选择朝向</option>
            <option value="1">One</option>
          </select>
        </div>
      </section>
      <!-- 建筑年代 | 出售里才有 -->
      <section class="form-group row js_deal">
        <label class="col-sm-2 col-form-label">建筑年代</label>
        <div class="col-sm-10 row">
          <div class="col-sm-3">
            <input type="text" id="CompletedYear" class="form-control" placeholder="请输入建筑年代">
          </div>
        </div>
      </section>
      <!-- 产权性质 | 出售里才有 -->
      <section class="form-group row js_deal">
        <label class="col-sm-2 col-form-label">产权性质</label>
        <div class="col-sm-10 row">
          <div class="col-sm-3">
            <select class="custom-select" id="PropertyNature">
              <option selected>请选择产权性质</option>
              <option value="1">One</option>
            </select>
          </div>
        </div>
      </section>
      <!-- 产权年限 | 出售里才有 -->
      <section class="form-group row js_deal">
        <label class="col-sm-2 col-form-label">产权年限</label>
        <div class="col-sm-10 row">
          <div class="col-sm-3">
            <select class="custom-select" id="PropertyYear">
              <option selected>请选择产权年限</option>
              <option value="1">One</option>
            </select>
          </div>
        </div>
      </section>
      <section class="form-group row">
        <label class="col-sm-2 col-form-label">核心卖点</label>
        <div class="col-sm-10 row">
          <textarea class="form-control" id="SellingPoint" rows="6"></textarea>
        </div>
      </section>
      <section class="form-group row">
        <label class="col-sm-2 col-form-label">房源图片</label>
        <div class="col-sm-10 row">
          <ul class="up-img">
            <li class="list add">
              <svg class="icon" aria-hidden="true"><use xlink:href="#icon-jia"></use></svg>
            </li>
          </ul>
        </div>
      </section>

      <div class="form-group row">
        <div class="col-sm-10 submit">
          <button type="submit" class="btn btn-primary btn-lg">立即发布</button>
        </div>
      </div>
    </form>
  </section>
  
  <!-- 图片裁切容器 -->
  <section class="cropper-wrap js_cropper_wrap">
    <div class="cropper-box">
      <div class="flex-1 js_image_wrap">
        <img src="" class="cropper-img" id="image" alt="">
      </div>
      <div class="operation">
        <button class="btn btn-lg" id="cancelCropBtn">取消</button>
        <button class="btn btn-primary btn-lg" id="confirmCropBtn">裁切</button>
      </div>
    </div>
  </section>

  <%= require('html-loader!components/footer/index.html') %>
  <script src="https://licong96.github.io/js/URI.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>